.post-details-page {
    margin-left: 10%;
    margin-right: 10%
}

.comments {
    margin-left: 3%;
    margin-right: 30%
}

.add-comment-button {
    margin-left: 3%
}

.post-text-areas {
    width: 100%;
    overflow-y: auto;
    resize: none;
    font-size: 12pt;
}

.post-textarea-container {
    margin-top: 1%;
    border-radius: 10px;
    background-color: rgb(14, 13, 13);
    color: silver;
    box-shadow: -2px 2px 5px black;
}
