.post-title {
    margin-left: 2%;
    margin-top: 1.5%
}

.post-description {
    margin-left: 2%;
    margin-bottom: 1.5%;
}

.post-user {
    margin-left: 2%;
    margin-bottom: 1.5%;
    font-style: italic;
}

.post-info {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    border-radius: 10px;
    background-color: rgb(14, 13, 13);
    color: silver;
    box-shadow: -2px 2px 5px black;
}

.post-info:hover {
    cursor: pointer;
}
