.login-modal {
    background-color: gray;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px
}

.login-modal label {
    font-weight: bold;
    font-size: 14pt;
    margin-top: 20px;
    margin-bottom: 20px
}

.login-modal label>input {
    display: flex;
    flex-direction: column;
}
